---
layout: default
title: Color Box
page_name: index_page
---

<div class="row margin-for-slider">
  <div class="col-sm-11">
    <div id="gallery-carousel" class="carousel slide pull-left" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">

<div class="item active">
  <img src="resources/images/1_Home/1_Home_Gift_Wrap_1.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/2_Home_Thankful.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/3_Home_Baby.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/4_Home_Pet.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/5_Home_Sassy.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/6_Home_BPP.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/7_Home_Holiday.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/8_Home_Fancy.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/9_Home_Emoticards.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/10_Home_Martin.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/11_Home_Wrap_2.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/12_Home_Kalmin.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/13_Home_Diecuts.jpg">
</div>
<div class="item">
  <img src="resources/images/1_Home/14_Home_Stationery.jpg">
</div>

      </div>
      <!-- Controls -->
      <a class="left carousel-control slider-arrows slider-arrow-left" href="#gallery-carousel" role="button" data-slide="prev">
        <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
        <img src="resources/images/arrow_left.png" class="">
      </a>
      <a class="right carousel-control slider-arrows slider-arrow-right" href="#gallery-carousel" role="button" data-slide="next">
        <img src="resources/images/arrow_right.png" class="">
      </a>
    </div>
  </div>
</div>
{% include instagram.html %}
{% include modal.html %}
