---
layout: default
title: Color Box
page_name: index_page
---

<div class="row margin-for-slider">
  <div class="col-sm-11">
    <div id="gallery-carousel" class="carousel slide pull-left" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="resources/images/1_Home/emoticards_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/caron_bbq_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/OhEwe_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/fenton_std_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/heybitch_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/rosenthal_rd_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/pet_sympathy_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/caron_bday_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/octopus_72.png">
        </div>
        <!-- <div class="item">
          <img src="resources/images/1_Home/RubberDuck_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/bridesmaid_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/moon_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/advocare_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/halloween2010_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/tags_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/diecut_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/panasik_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/seay_baby_sm-72_11wide.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/charlya_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/lovebirds_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/notepads_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/toddceron_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/next_round_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/notecards_72.png">
        </div>
        <div class="item">
          <img src="resources/images/1_Home/lyle_todd_cute_72.png">
        </div> -->
      </div>
      <!-- Controls -->
      <a class="left carousel-control slider-arrows slider-arrow-left" href="#gallery-carousel" role="button" data-slide="prev">
        <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
        <img src="resources/images/arrow_left.png" class="">
      </a>
      <a class="right carousel-control slider-arrows slider-arrow-right" href="#gallery-carousel" role="button" data-slide="next">
        <img src="resources/images/arrow_right.png" class="">
      </a>
    </div>
  </div>
</div>
{% include instagram.html %}
{% include modal.html %}
