<div class="row">
  <div class="col-xs-12 col-md-offset-1 col-md-11 scootched">
      <p class="instagram-label">See the latest studio activity on instagram</p>
  </div>
</div>
<div class="row">
  <!-- SnapWidget -->
  <div class="col-xs-12 col-lg-offset-1 col-lg-11 hidden-sm scootched">
      <iframe src="https://snapwidget.com/embed/237621" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:560px; height:140px"></iframe>
  </div>
  <div class="col-sm-12 visible-sm">
    <iframe src="https://snapwidget.com/embed/237621" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:420px; height:140px"></iframe>
  </div>
</div>
