<div id="side_navigation" class="col-sm-4 col-md-3">
  <div class="side-holder">
    <a href="index.html"><img class="logo" src="../resources/images/cb-logo.png"></a>
    <ul class="nav nav-pills nav-stacked">
      <li class="dropdown">
        <a href="pretty-paper.html">pretty paper</a>
        <ul class="dropdown-menu side-dropdown" role="menu" aria-labelledby="paper-drop">
          <li><a href="#">save the dates</a></li>
          <li><a href="#">rehearsal dinner</a></li>
          <li><a href="#">wedding</a></li>
          <li><a href="#">details</a></li>
          <li><a href="#">baby</a></li>
          <li><a href="#">galas</a></li>
          <li><a href="#">celebrations</a></li>
          <li><a href="#">corporate</a></li>
          <li><a href="#">outside the envelope</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="about.html">about</a>
        <ul class="dropdown-menu side-dropdown" role="menu" aria-labelledby="about-drop">
          <li><a href="#">FAQs</a></li>
          <li><a href="#">team</a></li>
          <li><a href="#">letterpress</a></li>
          <li><a href="#">color</a></li>
          <li><a href="#">custom</a></li>
        </ul>
      </li>
      <li><a href="contact.html">contact</a></li>
      <li><a href="wholesale.html">wholesale</a></li>
      <li><a href="#">shop</a></li>
    </ul>
    <ul class="social_media">
      <li class="CB" id="facebook"></li>
      <li class="CB" id="instagram"></li>
      <li class="CB" id="pintrest"></li>
    </ul>
  </div>
</div>