<div class="col-sm-4 col-md-3 hidden-xs side_navigation">
  <div class="side-holder">
    <a href="index.html"><img class="logo" src="../resources/images/cb-logo.png"></a>
    <ul class="nav nav-pills nav-stacked">
      <li class="dropdown">
        <a href="pretty-paper.html">pretty paper</a>
        <ul class="dropdown-menu side-dropdown" role="menu" aria-labelledby="paper-drop">
          <li><a href="pretty-paper.html">save the dates</a></li>
          <li><a href="pretty-paper.html">rehearsal dinner</a></li>
          <li><a href="pretty-paper.html">wedding</a></li>
          <li><a href="pretty-paper.html">cute & lovely</a></li>
          <li><a href="pretty-paper.html">details</a></li>
          <li><a href="pretty-paper.html">baby</a></li>
          <li><a href="pretty-paper.html">galas</a></li>
          <li><a href="pretty-paper.html">celebrations</a></li>
          <li><a href="pretty-paper.html">corporate</a></li>
          <li><a href="pretty-paper.html">outside the envelope</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="about.html">about</a>
        <ul class="dropdown-menu side-dropdown" role="menu" aria-labelledby="about-drop">
          <li><a href="about.html#FAQ" id="about-FAQ">FAQs</a></li>
          <li><a href="about.html#team" id="about-team">team</a></li>
          <li><a href="about.html#letterpress" id="about-letterpress">letterpress</a></li>
          <li><a href="about.html#color" id="about-color">color</a></li>
          <li><a href="about.html#custom" id="about-custom">custom</a></li>
        </ul>
      </li>
      <li><a href="contact.html">contact</a></li>
      <li><a href="wholesale.html">wholesale</a></li>
      <li class="dropdown">
        <a href="shop.html">shop</a>
        <ul class="dropdown-menu side-dropdown" role="menu" aria-labelledby="shop-drop">
          <li><a href="shop.html#greetingcards" id="shop-greetingcards">greeting cards</a></li>
          <li><a href="shop.html#notecards" id="shop-notecards">notecards</a></li>
          <li><a href="shop.html#gifttags" id="shop-gifttags">gift tags</a></li>
          <li><a href="shop.html#notebooksjournals" id="shop-notebooksjournals">notebooks / journals</a></li>
          <li><a href="shop.html#calendars" id="shop-calendars">calendars</a></li>
          <li><a href="shop.html#prints" id="shop-prints">prints</a></li>
        </ul>
      </li>
    </ul>
    <ul class="social_media">
      <a href="http://www.facebook.com/ColorboxDesignLetterpress" target="_blank"><li class="CB" id="facebook"></li></a>
      <a href="http://instagram.com/colorboxletterpress" target="_blank"><li class="CB" id="instagram"></li></a>
      <a href="http://www.pinterest.com/colorboxdesign" target="_blank"><li class="CB" id="pintrest"></li></a>
    </ul>
    <div class="sign-up">
      <p class="sign-up-header">Color Box News</p>
      <p class="sign-up-body">Sign up for emails to keep up on new shop additions and fun news. We'll send no more than 6 emails a year.</p>
      <button href="sign-up.html" class="btn sign-up-button" onclick="window.open('sign-up.html', 'newwindow', 'width=600, height=460'); return false;">join the list</button>
    </div>
  </div>
</div>