<div id="side_navigation" class="col-sm-3 col-md-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="dropdown">
      <a id="drop1" role="button" data-toggle="dropdown" data-target="#" href="#">pretty paper</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
        <li><a href="#">save the dates</a></li>
        <li><a href="#">rehearsal dinner</a></li>
        <li><a href="#">wedding</a></li>
        <li><a href="#">details</a></li>
        <li><a href="#">baby</a></li>
        <li><a href="#">galas</a></li>
        <li><a href="#">celebrations</a></li>
        <li><a href="#">corporate</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a id="drop2" role="button" data-toggle="dropdown" data-target="#" href="#">about</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
        <li><a href="#">Action 1</a></li>
        <li><a href="#">Action 2</a></li>
        <li><a href="#">Action 3</a></li>
        <li><a href="#">Action 4</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a id="drop3" role="button" data-toggle="dropdown" data-target="#" href="#">contact</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
        <li><a href="#">Action 1</a></li>
        <li><a href="#">Action 2</a></li>
        <li><a href="#">Action 3</a></li>
        <li><a href="#">Action 4</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a id="drop4" role="button" data-toggle="dropdown" data-target="#" href="#">wholesale</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
        <li><a href="#">Action 1</a></li>
        <li><a href="#">Action 2</a></li>
        <li><a href="#">Action 3</a></li>
        <li><a href="#">Action 4</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a id="drop5" role="button" data-toggle="dropdown" data-target="#" href="#">shop</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop5">
        <li><a href="#">Action 1</a></li>
        <li><a href="#">Action 2</a></li>
        <li><a href="#">Action 3</a></li>
        <li><a href="#">Action 4</a></li>
      </ul>
    </li>
  </ul>
</div>