<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top visible-xs" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="logo" src="resources/images/cb-logo.png"></i> Color Box Letterpress</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">pretty paper <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% include navigation_links.html %}
          </ul>
        </li>
        <li><a href="about.html">about</a></li>
        <li><a href="contactus.html">contact</a></li>
        <li><a href="wholesale.html">wholesale</a></li>
        <li><a href="//www.etsy.com/shop/ColorBoxLetterpress">shop</a></li>
        <li><a href="press.html">press</a></li>
        <li><a href="find-us.html">where to find us</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
