body{
	background-color: #F8F8F2;
	font-family: 'Cardo', serif;
	font-style: italic;
	letter-spacing: 1px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: #00B6DE;
}

/* About Page Start */
p, p a, .panel-body{
	color: #93958E;
}
.panel-body, .panel-title{
	font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 11px;
}
.panel-body{
	background-color: #F8F8F2!important;
	border-top: none!important;
	padding: 0 0 0 45px;
    font-weight: 400;
	line-height: 170%;
}
.panel{
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.panel-heading{
	background-color: #F8F8F2!important;
	padding: 0;
}
.panel-title{
    font-weight: 600;
	color: #93958E;
}
.panel-title>a:hover{
	text-decoration: none;
}
.selfie{
	height: 115px;
}
.person{
	text-align: center;
}
/* About Page End */

/* Contact Page Start */
.contact{
	width: 68px;
	margin-right: 11px;
}
.contact-info{
    margin-top: -5px;
}
hr{
	border-top: 3px solid #93958E;
}
.margin-left-15px{
	margin-left: 15px;
}
.margintop20px{
	margin-top: 20px;
}
.margintop50px{
	margin-top: 50px;
}
.marginbottom50px{
	margin-bottom: 50px;
}
.margin-for-slider{
	margin-top: 34px;
}
.paddingtopbottom20px{
	padding-top: 20px;
	padding-bottom: 20px;
}
.checkbox{
	color: #93958E;
}
.more{
	margin-top: 10px;
}
.form-control{
	background-color: #ECE6E4;
	border: none;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom: 10px;
}
.submit{
    color: #93958E;
}
/* Contact Page End */

/* Navbars Start */
.navbar-header{
	background-color: #F8F8F2;
}
.side_navigation{
	background-image:url("../images/sidebar_background.png");
	background-repeat:no-repeat;
	background-size:contain;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: -50px;
	min-height: 690px;
    text-align: center;
	z-index: 1;
}
.side_navigation .nav {
    display: inline-block;
}
.side_navigation a {
    color: #93958E;
    margin-top: -3px;
}
.side_navigation .logo{
	width: 142px;
}
.side-dropdown{
    left: 105px;
    top: 11px;
    background-color: #93958E;
}
.side-dropdown a {
    color: white!important;
}
.side-dropdown a:hover {
    color: #93958E!important;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
	outline: none
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: transparent;
	border: white;
}
.social_media li{
	display: inline-block;
	list-style-type: none;
	background-repeat: no-repeat;
}
.sign-up{
    width: 119px;	
    margin-left: 34px;
    margin-bottom: -22px;
    margin-top: -5px;
}
.sign-up-header{

}
.sign-up-body{
    font-size: 10px;
    text-align: justify;
    margin-top: -10px;
    letter-spacing: 0px;
}
.sign-up-button{
    color: #F8F8F2;
    font-size: 12px;
    width: 119px;
    border-radius: 10px;
    background-color: #93958E;
}
.CB{background-image: url("../images/social_media.png");}

.main-background{
	background-color: #F8F8F2;
	z-index: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}
.footer-info, .footer-info a, .instagram-label{
	color: #00B6DE;
}
.under-construction{
	margin-bottom: -39px;
}
.flex-direction-nav a:before{
	font-family: "FontAwesome";
	content: '\f0a8';
	font-style: normal;
}
.flex-direction-nav a.flex-next:before{
	content: "\f0a9";
}
.footer-info{
	margin-top: 10px;
}
@media(max-width:767px){
	/* xs */
	.navbar .logo{
  		width: 49px;
		margin-top: -14px;
	}
	.frontpage-image{
		height: 422px;
	}	
	.footer-info{
		margin-top: 8px;
		margin-left: 3px;
	}
}
@media(min-width:768px){
	/* sm */
	.side_navigation .nav {
    	margin-right: 30px;
    	margin-top: 27px;
	}
	/*used to make hover show the sub menu, but ONLY for large version*/
	ul.nav li.dropdown:hover > ul.dropdown-menu {
    	display: block;    
	}
	.side_navigation .logo{
		padding-right: 25px;
		margin-top: -27px;
		margin-right: 6px;
	}
	.social_media{
		margin-right: 74px;
		margin-top: 35px;
	}
	.social_media li{
		background-size: 83px 23px;
		height: 24px;
		width: 25px;
		margin-left: 5px;
	}
	#facebook{background-position: 9px;}
	#instagram{background-position: -28px 0;}
	#pintrest{background-position: -64px 0;}
	.main-background{
		margin-left: -91px;
		padding-left: 90px;
	}
	.frontpage-image{
		height: 148px;
		margin-left: 0px;
	}
	.footer-info{
		margin-left: -28px;
	}
	hr, .top-line{
		margin-right: 43px;
	}
	body{
		background-image:url("../images/site_background.png");
		background-repeat:repeat;
	}
	.main-background{
		height: 640px;
		border-color: #93958E;
		border-style: solid;
		border-width: 2px;
	}		
}
@media(min-width:992px){
	/* md */
	.side_navigation .nav {
    	margin-right: 23px;
    	margin-top: 28px;
	}	
	.side_navigation .logo{
		padding-right: 25px;
		margin-top: -27px;
		margin-right: -1px;
	}
	.social_media{
		margin-right: 72px;
		margin-top: 35px;
	}
	.social_media li{
		background-size: 83px 23px;
		height: 24px;
		width: 25px;
		margin-left: 5px;
	}
	#facebook{background-position: 9px;}
	#instagram{background-position: -28px 0;}
	#pintrest{background-position: -64px 0;}

	.main-background{
		height: 720px;
		margin-left: -80px;
		padding-left: 80px;
	}
	.frontpage-image{
		height: 90px;
		margin-left: 0px;
	}
	.footer-info{
		margin-left: -80px;
		font-size: 15px;
	}	
	/*contact form*/
	.submit{
    	margin-left: 15px;
	}
	#wholesale-submit{
		margin-left: -50px
	}
	hr, .top-line{
		margin-right: 61px;
	}
	.marginleft{
    	margin-left: -26px;
	}
	.contact-info{
	    margin-top: -5px;
	}
	.contact{
		width: 57px;
		margin-right: 0px;
		margin-left: -4px;
	}
	.scootched{
    	margin-left: 47px;
	}	
}
@media(min-width:1200px){
	/* lg */
	.side-holder{
		margin-right: 50px;
	}

	.main-background{
		height: 801px;
		margin-left: -130px;
		padding-left: 130px;
	}
	.frontpage-image{
		height: 116px;
		margin-left: 0;
	}
	.instagram-label{
	    margin-left: 0;
	    margin-top: -30px;
	}		
	.footer-info{
		margin-left: -130px;
		font-size: 16px;
	}
	hr, .top-line{
		margin-right: 73px;
	}
	.marginleft{
    	margin-left: -20px;
	}
	.contact{
		width: 68px;
		margin-right: 11px;
	}
	.margin-for-slider{
		margin-top: 34px;
		margin-left: -58px;
		margin-right: -39px;
	}
	.scootched{
    	margin-left: 121px;
	}		
}

