<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
        {% include top_navigation.html %}
        <div class="container">
			<div class="row">
			    {% include side_navigation.html %}
			    <div class="col-sm-8 col-md-9 col-lg-9">
			    	<div class="main-background">
			    		{{ content }}
			    	</div>
			    </div>
			</div>
			<div class="row">      
				<div class="col-sm-offset-3 col-sm-9">
					<p class="footer-info">Color Box Studio ⋅ 9021 angora street ⋅ dallas, texas ⋅ by appointment only</p>      
				</div>      
			</div>      
		</div>
<!--         {% include footer.html %} -->
        {% include javascript_includes.html %}
    </body>
</html>
